
#ifndef BLESENSOR_CONFIG_H_
#define BLESENSOR_CONFIG_H_

#define IDLE_LIMIT 10        // seconds
#define WAKEUP_INTERVAL 20   // seconds
#define MEASURE_INTERVAL 10  // seconds
#define PUBLISH_INTERVAL 5   // seconds
#define PUBLISH_DURATION 1   // seconds

#endif
